@font-face {
    font-family: "Frei";
    src: url(/fonts/FreigeistMono-Black.otf);
}

:root {
    --pr-color: #f0e9e9;
    --sc-color: #0a0a0a;
    --bg-color: #131313;
    --cubicbz: cubic-bezier(.9, 0, .1, 1);
    --fz-big: 60px;
    --gap: 150px;
}

* {
    box-sizing: border-box;
    font-weight: 800;
    font-family: "Frei";
    margin: 0;
    padding: 0;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

html,
body {
    cursor: none;
}

body {
    background: var(--sc-color);
}

.cursor {
    position: fixed;
    pointer-events: none;
    width: 100px;
    height: 100px;
    padding: 10px;
    transform: translate(-50%, -50%);
    border: 1px solid #303030;
    border-radius: 50%;
    overflow: hidden;
    z-index: 999;
}

.cursor-dot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--pr-color);
    clip-path: circle(10% at 50% 50%);
    transition: clip-path .3s;
}

.cursor.active .cursor-dot {
    clip-path: circle(50% at 50% 50%);
    background-image: url(/images/cursor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.infos {
    display: flex;
    justify-content: space-between;
}

.cta {
    position: relative;
    padding: 10px 20px;
    background: transparent;
    border: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;

}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

#arrow-horizontal path {
    fill: #fff;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {

    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: white;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1.15);
    transform-origin: bottom left;
}

.wrapp {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 150px;
    z-index: 1;
}

.title {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: var(--fz-big);
    text-transform: uppercase;
    color: var(--pr-color);
}

.title span {
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}

.reveal {
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 0;
}

.reveal-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 150px;
    width: 100%;
    height: auto;
    padding-bottom: 170px;
}

.reveal-img-item {
    position: relative;
    width: calc(50% - (var(--gap)/2));
    height: 650px;
    padding-left: 53px;
    overflow: hidden;
}

.reveal-img-item:nth-child(even) {
    transform: translateY(150px);
}

.reveal-img-num {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    color: var(--pr-color);
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
}

.reveal-img-inner,
.reveal-img-bl {
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.reveal-img-inner {
    background: var(--bg-color);
}

.reveal-img-bl {
    overflow: hidden;
}

.reveal-img-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
}